<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FlexmailAPIBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://soap.flexmail.eu/3.0.0/flexmail.php"
                binding="basicHttpBinding" bindingConfiguration="FlexmailAPIBinding"
                contract="FlexMail.Service.FlexmailAPIPortType" name="FlexmailAPIPort" />
        </client>
    </system.serviceModel>
</configuration>