<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://nuget.org/packages/Hemrika.FlexMail" value="oy2kyli2mcyu7wcflhrqey44ezid3pkeblino3jm3oss5m" />    
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>